.pageFooter {
    background-color: #1a1a1a;
    color: white;
    font-size: 2rem;
    height: 4rem;
    text-align: center;
    padding-top: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}